#page_k {
    .bg {
        background-color: #000;
    }

    .road {
        position: absolute;

        & > div {
            position: absolute;
        }
    }

    .shiftup, .shiftdown {
        cursor: pointer;
        z-index: 9999;
    }

    .text_a {
        font-size: 40%;
        color: #FFF;
        font-style: italic;
    }

    .text_b {
        font-size: 15%;
        color: #FFF;
    }

    .text_c {
        font-size: 20%;
        color: #FFF;
        text-align: center;
    }
}