@charset "utf-8";

/* CSS Document */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*Common Reset Label,20141225,sww*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
    border: 0
}

body,
button,
input,
select,
textarea {
    font: 100%/1 'Microsoft Yahei', Arial, Helvetica, "\5b8b\4f53", sans-serif;
    color: #333
}

h1 {
    font-size: 18px;
    font-weight: normal
}

h2 {
    font-size: 16px;
    font-weight: normal
}

h3 {
    font-size: 14px;
    font-weight: normal
}

h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

address,
cite,
dfn,
em,
var {
    font-style: normal
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace
}

small {
    font-size: 12px
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

ul,
ol {
    list-style: none
}

body{
    background: url('bg1.jpg') no-repeat scroll 0 0;
    background: cover;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: none;
    text-decoration: none
}

a:focus {
    outline: none;
}

a:active,
a:hover {
    outline: none
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help
}

q:before,
q:after {
    content: ''
}

legend {
    color: #333
}

fieldset,
img {
    border: none
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    position: relative
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    -webkit-border-radius: 0px;
    border-radius: 0px
}

input,
select {
    vertical-align: middle;
}


/*common ClearFix,20141225,sww*/

.cf {
    clear: both;
    zoom: 1
}

.cf:before,
.cf:after {
    content: "";
    display: block
}

.cf:after {
    clear: both
}


/*top,20141225,sww*/

.formT {
    background: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 12px 15px 15px 15px;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    border-top: 4px solid #f70017;
}

.formTit {
    font-size: 16px;
    color: #e50020;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px
}

.controlGroup {
    font-size: 12px
}

.controlHalfL,
.controlHalfR {
    float: left;
    width: auto;
    width: 100%
}

.controlLeft {
    line-height: 25px;
}

.controls {
    float: left;
    width: 100%
}

.iptTxt {
    border: 1px solid #dfdfdf;
    padding: 0 5px;
    height: 28px;
}

.iptTxt input {
    height: 28px;
    line-height: 28px;
    float: left;
    font-size: 14px;
    width: 90%;
}

.getFocus {
    color: #999
}

.redP_r5 {
    color: #e20721;
    padding-right: 5px;
}

.selectBox {
    position: relative;
    border: 1px solid #dfdfdf;
    background: #fff;
}

.selectVal {
    height: 28px;
    line-height: 28px;
    color: #999;
    font-size: 12px;
    padding: 0 6px;
    min-width: 50px;
    overflow: hidden;
    cursor: pointer
}

.selectNav {
    position: absolute;
    right: 0;
    top: 0;
    height: 28px;
    width: 28px;
    z-index: 2;
    background: #fff;
}

.selectBox select {
    position: absolute;
    top: 0;
    left: -1px;
    height: 28px;
    width: 100%;
    opacity: 0;
    z-index: 10;
}

.selectList {
    display: none;
    position: absolute;
    left: -1px;
    width: 100%;
    top: 22px;
    font-size: 12px;
    border: 1px solid #dfdfdf;
    background: #fff;
    z-index: 11;
}

.heightAuto .selectList {
    height: auto !important
}

.selectList p {
    line-height: 18px;
    padding: 2px 0;
    padding-left: 6px;
    color: #333;
}

.selectList p:hover {
    background: #e50020;
    color: #fff;
    cursor: pointer
}

.selectNav em {
    display: block;
    width: 9px;
    height: 5px;
    font-size: 0;
    content: ".";
    margin: 12px auto 0;
    background: url(arrow.png) no-repeat;
    background-position: 0 0
}

.selectBoxBlur em {
    background-position: -9px 0
}

.dealerLocation span {
    color: #333;
    font-size: 14px
}
.dealerLocation .lc{
	color: #2b2b2b;
	font-size: 120%;
}
.dealerLocation em{
	display: inline-block;
	width: 12px;
	height:18px;
	margin-left: 2px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASCAMAAABYd88+AAAAYFBMVEX////lACDoIT3mBSTmDCr5xc3++vv+9Pb4ucLqM0372+Dyg5LvY3fuXXHwcILoGjf85Of97O795+r71dr6z9XsQlrtS2LtUWfpKkXrP1f3sbv2pbD2q7bxeIn0l6TzjZvXwb78AAAAAXRSTlMAQObYZgAAAHBJREFUCB0FwQdiggAAALEciIoD1O6F//9lE+Dl+ADYdtXnK7hW1fiLrcbr+at2N4bGCUv9OdUHHMZmUy1gbXCvYY+p3pjr/eR7qCdbVdX4YD9UVQv8VNXuDvu5qjMwVQ0HwKU6AhzWLgAc1zsAbuAf3uADgfcQKHwAAAAASUVORK5CYII=') no-repeat scroll 0 2px;
	background-size: contain;
}

.dealerLocation {
    float: left;
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
}

.dealerLocation span {
    color: #333;
    font-size: 14px
}

.dealerLocation span em,
.consulting li.last span em,
.bookDrive ul li.last span em {
    width: 12px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px 0 0 5px;
    background: url(locator.png) no-repeat
}

.controlGroup1 {
    line-height: 20px;
    color: #666;
    font-size: 12px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}
.controlGroup1 .fz{
	color: #f0001b;
	text-decoration: underline;
}
.confirmBtn {
    display: block;
    width: 100%;
    line-height: 30px;
    color: #FFF;
    font-size: 0.875em;
    text-align: center;
    background-color: #e20821;
    margin-top: 10px;
    cursor: pointer;
}

.red {
    color: #e50020;
    cursor: pointer
}

.closeBtn {
    background: url(close.png) no-repeat;
    background-size: 100% auto;
    width: 17px;
    height: 17px;
    display: block;
    position: absolute;
    top: -17px;
    right: -34px
}

.popupBox p.popupTitle {
    height: 40px;
    background: #333333;
    line-height: 40px;
    margin-bottom: 15px;
    position: relative;
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 5px #333333;
}

.popupBox p.popupTitle span {
    padding-left: 5%;
    color: #ffffff;
    font-size: 12px;
    float: left;
}

.fontRed {
    color: #e50020
}

.basePolicy {
    font-size: 12px;
    line-height: 20px;
}

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
    padding: 0 0 20px 0;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0px;
    width: 4px;
    height: 100%;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #f2f2f2;
    position: relative;
}

.jspDrag {
    background: #666666;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}


/* header */

.header {
    height: 50px;
    background: #FFF;
    max-width: 1400px;
    margin: 0 auto
}

.header .head-lt {
    float: left;
    padding-top: 10px
}

.header .head-rt {
    float: right;
    padding-top: 14px
}


/* footer */

.footer {
    height: 70px;
    font-size: 12px;
    line-height: 20px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.footer .copyRight {
   /* float: left*/
   width: 90%;
   margin: 0 auto;
   margin-top: 20px;
}

.copyRight span {
    margin-left: 30px;
}

.footer .foot-logo {
    float: right
}

.footer .foot-logo img {
    float: right;
    margin-top: 25px
}

.popBg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 1002
}

.popupBox {
    padding: 15px;
    width: 87%;
    margin-left: -43.5%;
    box-sizing: border-box;
    display: none;
    position: absolute;
    left: 50%;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .34);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .34);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .34);
    -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, .34);
    -o-box-shadow: 0 2px 5px rgba(0, 0, 0, .34);
    z-index: 1003
}

.popClose {
    background-size: 150px auto;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 34px;
    height: 34px;
    background-position: 0px -576px
}

.ml_15 {
    margin-left: 15px
}

.popContent {
    position: relative
}

.consultDetInfo {
    height: 450px
}

.controls.width49per {
    width: 49%
}

.controlHalfL.width49per,
.controlHalfR.width49per {
    width: 49%
}

.ml_2per {
    margin-left: 2%
}
